<div class="sign-wrapper text-center">
  <div class="nav">
    <div class="hide"></div>
    <div class="title">
      <div class="logo">
        <span>A</span>
      </div>
      <h2>Sign up to Aristutor</h2>
    </div>
    <div></div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: false,
                  label:false,
                  autofocus: true,
                  placeholder: 'First name',
                  input_html: { autocomplete: :off } %>
      <%= f.input :last_name,
                  required: false,
                  label:false,
                  autofocus: true,
                  placeholder: 'Last name',
                  input_html: { autocomplete: :off } %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: 'Email',
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: 'Password',
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo,
                  as: :file,
                  required: false,
                  label: false,
                  input_html: { autocomplete: :off },
                  label_html: { class: "btn btn-small txt-orange" } %>
        
        <div class="fake_input">
          <label  for="teacher_photo" id="fake-input">
            <div class="btn btn-small txt-orange">
              <i class="fas fa-plus "></i>
            </div>
            <p>Photo (optional)</p>
          </label>
          
        </div>
        
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign Up", class:'btn txt-orange' %>
    </div>
  <% end %>

<%= render "teachers/shared/links" %>

