<%# ---------------------- Flaschard background ---------------------- %>

<%# Logo %>
<%= link_to root_path, method: :get do %>
  <div class="nav-logo">
    <div class="nav">
        <div class="hide"></div>
        <div class="logo">
          <span>A</span>
        </div>
        <div class="hide"></div>
    </div>
  </div>
<% end %>

<%# ---------------------- Flaschcard body (grey) ---------------------- %>

<div class="main-wrapper flashcard-wrapper" id="flashcard-wrapper">

  <%# Card progression %>
  <p class="counter-flashcard">
    <span class="current-flashcard" %><%= @number_total_passed %></span>/<%= @number_total %>
  </p>

  <%# Summary title %>
  <h1 class="flashcard-title"><%= @summary.title.capitalize! %></h1>

  <%# Bar progression %>
  <div class="bar">
    <div class="percentage" style="width: <%= @completion %>%"></div>
  </div>

  <%# ---------------------- Flaschcard recto ---------------------- %>
  <div id="question" style='display: block'>

    <%# Flashcard question %>
    <div class="flashcard-question">
      <% if @flashcard.is_a? Mistake %>
        <p class="flashcard-instruction">Ecrivez correctement la phrase suivante :</p>
        <p class="flashcard-word"><%= @flashcard.wrong_content %></p>
      <% elsif @flashcard.is_a? Word %>
        <p class="flashcard-instruction">Traduisez le mot suivant</p>
        <p class="flashcard-word"><%= @flashcard.word %></p>
      <% elsif @flashcard.nil? %>
        <p>Well done</p>
      <% end %>
    </div>

    <%# Student answer %>
    <div class="flashcard-answer">
      <input type="text" name="answer" id="student-answer" placeholder="Votre réponse">
    </div>

    <%# Button flip card %>
    <button class="btn txt-orange flip-card" id="flip">Flip card</button>

  </div>

  <%# ---------------------- Flaschcard verso ---------------------- %>
  <div id="answer" style='display: none'>
    <p id="student-answer-display" class="flashcard-answer-verso"></p>

    <%# Flashcard answer %>
    <div class="flashcard-question">
      <% if @flashcard.is_a? Mistake %>
        <p class="flashcard-instruction">La phrase correcte est :</p>
        <p class="flashcard-word"><%= @flashcard.correct_content %></p>
      <% elsif @flashcard.is_a? Word %>
        <p class="flashcard-instruction">La bonne traduction est :</p>
        <p class="flashcard-word"><%= @flashcard.translation %></p>
      <% elsif @flashcard.nil? %>
        <p>Well done</p>
      <% end %>
    </div>

    <%# Button know / didn't know %>
    <div class="choice-card">
      <%= link_to "Je l'ignorais",
        failed_summary_flashcards_path([@summary, @flashcard.id, @flashcard.class]),
        class: "btn txt-grey",
        method: :patch,
        remote: true %>
      <%= link_to "Je le savais",
        passed_summary_flashcards_path([@summary, @flashcard.id, @flashcard.class]),
        class: "btn txt-white",
        method: :patch,
        remote: true %>
    </div>

  </div>

</div>
