<div class="main-wrapper">

<%# Header %>
  <div class="nav">
    <%= link_to :back, class: "btn btn-small txt-grey", method: :get do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h2>New summary</h2>
    <div></div>
  </div>

<%# Formulaire %>
  <%= simple_form_for(@summary) do |f| %>
    <%= f.input :title, placeholder: "Theme", label: false %>
    <%= f.input :overview, placeholder: "Overview", label: false %>
    <%= f.submit 'Save the summary', :class => 'btn btn-large txt-white' %>
  <% end %>

</div>
