<div class="main-wrapper">

  <%# Header %>
  <div class="nav">
    <%= link_to course_path(@summary.course_id), class: "btn btn-small txt-grey", method: :get do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h2><%= @summary.title %></h2>
    <%= link_to edit_course_summary_path(@summary), class: "btn btn-small txt-orange", method: :get do %>
      <i class="fas fa-pen"></i>
    <% end %>
  </div>

  <%# Overview %>
  <div class="card-summary">
    <div class="card-summary-infos">
      <p class="summary">Overview</p>
      <p class="flashcard"><%= @summary.overview %></p>
    </div>
  </div>

  <%# Vocabulary box %>
  <div class="card-summary">
    <div class="card-summary-infos">
      <p class="summary">Vocabulary box</p>
      <% @summary.words.each do |word| %>
      <div class="summary-box">
        <p class="summary-box-word"><%= word.word %></p>
        <p class="summary-box-translation"><%= word.translation %></p>
      </div>
      <% end %>
    </div>
  </div>

  <%# Mistakes box %>
  <div class="card-summary">
    <div class="card-summary-infos">
      <p class="summary">Mistakes box</p>
      <% @summary.mistakes.each do |mistake| %>
      <div class="summary-box">
        <p class="summary-box-wrong"><%= mistake.wrong_content %></p>
        <p class="summary-box-correct"><%= mistake.correct_content %></p>
      </div>
      <% end %>
    </div>
  </div>

  <%# Send button %>
  <% if @summary.status == "created" %>
    <%= link_to "Send the summary", send_flashcards_summary_path(@summary), method: :patch, class: 'btn btn-large txt-white' %>
  <% else %>
    <h2 class="homepage-subtitle">Summary already sent</h2>
  <% end %>

</div>
