<%# Footer navbar on all teacher's screens %>

<div class="navbar-footer">
  <%= link_to courses_path, class: "navbar-footer-icon" do %>
    <%= image_tag ('icon-student.svg') %>
  <% end %>
  <a class="navbar-footer-icon">
    <%= image_tag ('icon-summary.svg') %>
  </a>
  <a class="navbar-footer-icon">
    <%= image_tag ('icon-data.svg') %>
  </a>
  <%= link_to teacher_path, class: "navbar-footer-icon" do %>
    <%= image_tag ('icon-profile.svg') %>
  <% end %>
</div>
