<div class="main-wrapper">

  <div class="d-flex justify-content-between flex-wrap">
    <%= link_to courses_path, class: "btn btn-small txt-grey", method: :get do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h2><%= current_teacher.first_name %> <%= current_teacher.last_name %></h2>

    <%= link_to edit_teacher_path, class: "btn btn-small txt-orange", method: :get do %>
      <i class="fas fa-pen"></i>
    <% end %>
  </div>


  <%= teacher_img(current_teacher)%>

  <div class="card-summary">
    <div class="card-summary-infos">
      <p class="summary">Overview</p>
      <p class="flashcard"><%= current_teacher.about %></p>
    </div>
  </div>
  <br>
  <div class="cards-students-data">
    <div class="cards-students-data-figures">
      <p>Students</p>
      <h1><%= @number_of_student %></h1>
    </div>
    <div class="cards-students-data-figures">
      <p>Completion</p>
      <!-- here we use a helper number_to_percentage inherited from ActionView to show as % -->
      <h1><%= number_to_percentage(@completion, precision: 0) %></h1>
    </div>
  </div>
  <br>
  <div class="flex-components">
    <%= link_to "Log out", destroy_teacher_session_path, method: :delete, class: "btn txt-orange" %>
  </div>

</div>
