<div class="main-wrapper">
  <div class="nav">
    <div></div>
    <h2>All students</h2>
    <%= link_to new_course_path, class: "btn btn-small txt-white", method: :get do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

    <%= form_tag courses_path, method: :get, class:'form-search' do  %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: "Find a student"
      %>
      <%= button_tag :submit do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>

    <br>

  <div class="cards-students">
    <% @courses.each do |course|%>
      <%= link_to course_path(course), class: "card-student" do %>
        <div>
          <% if course.student.photo.attached? %>
            <%= cl_image_tag course.student.photo.key, class:'small-avatar' %>
          <% else %>
            <p>Missing image</p>
          <% end %>
          <div class="card-student-name">
            <p class="firstname"><%= course.student.first_name %></p>
            <p class="lastname"><%= course.student.last_name %></p>
          </div>
          <div class="card-student-infos">
            <% if course.summaries.last %>
              <p class="flashcard">Last summary #<%= course.summaries.count %></p>
              <p class="summary"><%= course.summaries.last.title %></p>
            <% else %>
              <p>No summary yet</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
