<h2>All students</h2>

<%= form_tag courses_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a student"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= link_to "add", new_course_path, class: "btn btn-primary"%>
<br>

<% @courses.each do |course|%>
  <% if course.student.photo.attached? %>
    <%= cl_image_tag course.student.photo.key %>
  <% else %>
    <p>Missing image</p>
  <% end %>
  <p><%= course.student.first_name %></p>
  <p><%= course.student.last_name %></p>
  <p>Summary#<%= course.summaries.count %></p>
  <p><%= course.summaries.last.title.capitalize!%></p>
  <%= link_to "course", course_path(course), class: "btn btn-primary" %>
  <br>
<% end %>
