<div class="main-wrapper">

<h2>New student</h2>

<%= simple_form_for(@student, url: courses_path, method: :post) do |f| %>
  <%= f.input :email, placeholder: "Email", :label => false, required: false, autofocus: true %>
  <%= f.input :first_name, placeholder: "First name", label: false %>
  <%= f.input :last_name, placeholder: "Last name", label: false %>
  <%= f.input :phone_number, placeholder: "Phone number", label: false %>
  <%= f.input :mother_language, prompt: "Mother language", collection: Student::LANGUAGES, label: false %>
  <%= f.submit 'Add a student', :class => 'btn btn-large txt-white' %>
<% end %>

</div>