
<%= link_to "Back to students", courses_path, class: "btn btn-primary" %>
<%= link_to "Edit students", edit_course_path, class: "btn btn-warning" %>
<p><%= @course.student.first_name %></p>
<p><%= @course.student.last_name %></p>
<% if @course.student.photo.attached? %>
    <%= cl_image_tag @course.student.photo.key %>
  <% else %>
    <p>Missing image</p>
<% end %>
<p> <%= @class_language_name %> student - Bali</p>
<p> <%= @number_of_summary %> summaries</p>
<!-- here we use a helper number_to_percentage inherited from ActionView to show as % -->
<p><%= number_to_percentage(@completion, precision: 0) %> </p>
<%= link_to "Add new summary",  new_course_summary_path(@course), class: "btn btn-primary" %>

<% @summaries.each do |summary|%>
  <%= summary.title.capitalize!%>
  <%= summary.created_at.strftime("%d %b %Y") %>
  <br>
<% end %>
