<div class="sign-wrapper text-center">
  <div class="nav">
    <div class="hide"></div>
    <div class="title">
      <div class="logo">
        <span>A</span>
      </div>
      <h2>Sign in to Aristutor</h2>
    </div>
    <div></div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  label:false,
                  autofocus: true,
                  placeholder: 'Email',
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  label:false,
                  placeholder: 'Password',
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign In", class:'btn txt-orange' %>
    </div>
  <% end %>
  <br>
  <p>Not a member?</p>


<%= render "teachers/shared/links" %>
